@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ff0000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}
